<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Usuario</title>
</head>
<body>
    <h1>Actualizar Usuario</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" value="{{ usuario.nombre }}" required><br>

        <label for="correo">Correo:</label>
        <input type="email" name="correo" id="correo" value="{{ usuario.correo }}" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password"  required><br>

        <label for="id_rol">Rol:</label>
        <select name="id_rol" id="id_rol">
            <option value="1" {% if usuario.id_rol == 1 %}selected{% endif %}>Administrador</option>
            <option value="2" {% if usuario.id_rol == 2 %}selected{% endif %}>Pañol</option>
        </select><br>

        <button type="submit">Guardar Cambios</button>
    </form>
    <a href="{% url 'listar_usuario' %}">Cancelar</a>
</body>
</html>
