<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Docente</title>
</head>
<body>
    <h1>Actualizar Docente</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" value="{{ docente.nombre }}" required><br>

        <label for="correo">Correo:</label>
        <input type="email" name="correo" id="correo" value="{{ docente.correo }}" required><br>

        <label for="telefono">Correo:</label>
        <input type="text" name="telefono" id="telefono" value="{{ docente.telefono }}" required><br>

        <label for="estado">Correo:</label>
        <input type="checkbox" name="estado" id="estado" value={% if docente.estado %} checked {% endif %}  required><br>


        <button type="submit">Guardar Cambios</button>
    </form>
    <a href="{% url 'listar_docente' %}">Cancelar</a>
</body>
</html>
